/*!
 * Tutti Frescuni
 * March-June 2013
 * version 0.1
 * Colour: http://www.colourlovers.com/palette/1745515/Vegan_Songbird
 */

body {
	overflow-y: hidden;
}

.tutti-frescuni {

	p, li {
		font-family: 'Cabin', Helvetica, Arial, sans-serif;
	}

	#loading {
		background-color: rgba(0,0,0,0.5); 
		width: 100%; 
		height: 100%;
		position: absolute;
		z-index: 9999; 
	}

	#header, 
	#footer {
		position: absolute;
		z-index: 2;
		width: 100%;
		background-color: #fff;		
		a {
			color: #333;
			margin-left: 10px;
			margin-right: 10px;
			text-decoration: underline;
		}		
	}

	.scroller {
		width: 100%;
	}


	#footer {
		bottom: 0;
		height: 80px;

		.show-credits {
			text-decoration: underline;
			cursor: pointer;
		}
	}
	
	#header {	
		top: 0;
		height: 175px;

		h1 {
			padding-top: 20px;
			font-family: 'Lobster', Georgia, Times, serif;
			color: rgb(10,167,124);
		}

		.claim {
			font-size: 18px;
			color: #ccc;
		}
	}

	#wrapper {
		position: absolute;
		z-index: 1;
		width: 100%;
		top: 160px;
		bottom: 80px;
	}

	.products {

		h2 {
			text-align: center;
			font-weight: normal;
			font-family: 'Lobster', Georgia, Times, serif;
			color: rgb(250,70,21);
		}

		ul {
			margin: 0;

			li {
				list-style-type: none;
				text-align: center;
				margin-bottom: 35px;
				

				a {
					font-size: 20px;

					img { 
						border-radius: 100%;
						box-shadow: 4px 4px 10px rgba(100, 100, 100, 0.45);

						&:hover {
							box-shadow: 4px 4px 10px rgba(100, 100, 100, 0.85);
						};
					}



					.name { 
						color: #333;
						display: block; 
						margin-top: 15px
					}	
				}
			}
		}
	}
}

@import "bootstrap.less";